.mbc-box-small {background-color: lightgray; border: 5px outset gray; width: 25%; height: 25%;}
.mbc-box-medium {background-color: lightgray; border: 15px outset gray; width: 50%; height: 50%;}
.mbc-box-large {background-color: lightgray; border: 25px outset gray; width: 75%; height: 75%;}